.home-image {
  height: 450px;
  width: 100%;
}
.text-justify {
  text-align: justify;
}
.card-image {
  width: 100%;
  height: 200px;
}
.details-card-image {
  width: 100%;
  height: 100%;
}
.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.semi-bold {
  font-weight: 600;
}
.home-container{
  padding-bottom: 15rem;
}
.bg-error{
  height: 90vh; 
}
.error-img{
  margin-top: 10rem;
}

.home-bottom{
  padding-bottom: 8rem;
}

.btn-border{
  border-color: yellow !important;
}
.card-bg{
  background-image: linear-gradient(to right, #080D27, #1B2841);
}
.card-border{
  border: none !important;
}