.bg-design {
  background-image: linear-gradient(to right, #231f72, #1e5395);
  height: 100vh;
}

.home-image {
  height: 450px;
  width: 100%;
}
.text-justify {
  text-align: justify;
}
.card-image {
  width: 100%;
  height: 200px;
}
.details-card-image {
  height: 400px;
}
